body {
  margin: 0;
  display: flex;
  height: 100vh;
}

section {
  width: 85%;
}

header {
  background-color: lightblue;
  height: 20vh;
}

nav {
  background-color: lightgreen;
  width: 15%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 10px;
  gap: 50px;
}

main {
  background-color: lightcoral;
  height: 80vh;
}
