body {
  margin: 0;
  display: flex;
  height: 100vh;
  font-family: "Oswald", sans-serif;
  background-color: rgb(221, 221, 221);
}

p,
button {
  margin: 0;
  font-family: "Oswald", sans-serif;
}

section {
  background-color: rgb(221, 221, 221);
  width: 90%;
  position: relative;
  left: 10%;
}
