main {
  display: flex;
  justify-content: space-between;
  background-color: rgb(221, 221, 221);
  padding: 25px 15px;
  margin-top: 180px;
  height: 100%;
}

/*Your Projects*/
.your-projects-div {
  width: 70%;
}

.your-projects-div p,
.announcments-div p,
.trending-div p {
  padding-bottom: 5px;
  font-size: 1.2em;
}

.projects-grid-div {
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 30px;
}

.grid-element {
  background-color: white;
  border-left: solid 6px rgb(223, 11, 11);
  border-radius: 10px;
  box-shadow: 1px 2px 8px rgb(85, 84, 84);

  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 15px;
  height: 100%;
}

.grid-element div {
  margin-left: auto;
  margin-top: auto;
  padding-right: 20px;
  padding-bottom: 10px;
}

.project-buttons {
  width: 20px;
}

/*Right section of main*/
.right-section-div {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 40px;
}
/* announcments*/
.announcments-div {
  text-align: left;
}

.table-div,
.trending-table-div {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 2px 8px rgb(85, 84, 84);
  height: 50%;
  overflow: auto;
}

.table-div {
  padding: 25px;
}

.table-div div p {
  padding: 0;
  font-size: 0.9em;
}

.table-div div p:not(:first-child),
.your-projects-div p:not(:first-child) {
  color: rgb(75, 75, 75);
}

/*trending*/
.trending-div {
  margin-top: -40px;
}

.trending-table-div {
}

.trending-profile {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 15px 15px 0 15px;
}

.trending-profile-img {
  width: 50px;
  border-radius: 50%;
}

@media (max-width: 1400px) {
  main {
    margin-top: 150px;
  }
}

@media (min-width: 1400px) {
  .announcments-div {
    height: 40%;
  }
  .trending-div {
    height: 60%;
  }
}
