nav {
  background-color: rgb(81, 172, 233);
  width: 10%;
  display: grid;
  grid-template-rows: 100px 1fr 1fr;
  grid-template-columns: 1fr;
  color: white;
  position: fixed;
  height: 100vh;
}

.dashboard-icon {
  width: 2em;
}

.dashboard-icon-div,
.icons-div {
  display: flex;
  align-items: center;
  margin-left: 15px;
  gap: 5px;
}

.dashboard-icon-div p {
  font-size: 1.8em;
}

.nav-icons-div {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.icons-div p {
  font-size: 1.3em;
}

.icons-div img {
  width: 1.9em;
}

@media (max-width: 1400px) {
  .dashboard-icon {
    width: 1.2em;
  }
  .dashboard-icon-div p {
    font-size: 1.2em;
  }
  .icons-div p {
    font-size: 0.9em;
  }

  .icons-div img {
    width: 1.5em;
  }

  .nav-icons-div {
    gap: 20px;
  }

  .nav-icons-div + .nav-icons-div {
    margin-top: 70px;
  }
}
